<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nguyenvanhoa.book_app_reading">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Book_App_Reading">

        <activity android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Activity.SignUpActivity">
        </activity>
        <activity android:name=".Activity.TermsAndPoliciesActivity"></activity>
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity android:name=".Activity.ForgotPassActivity"></activity>
        <activity android:name=".Activity.HomeActivity"></activity>
        <activity android:name=".Activity.BookshelfActivity"></activity>
        <activity
            android:name=".Activity.LibraryActivity">

        </activity>
        <activity android:name=".Activity.ProfileActivity">
        </activity>
        <activity android:name=".Activity.SearchActivity"></activity>


        <activity android:name=".Activity.Book_Detail_Activity">
        </activity>
        <activity android:name=".Activity.Content_Story.activity_content_story"></activity>
        <activity android:name=".Activity.Content_Story.activity_content_story2"></activity>
        <activity android:name=".Activity.Content_Story.activity_content_story3"></activity>
        <activity android:name=".Activity.AboutUsActivity"></activity>

    </application>

</manifest>