<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nguyenvanhoa.book_app_reading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Book_App_Reading">
        <activity
            android:name=".Admin.Activity.BookViewActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.PdfAddActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.PdfEditActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.PdfDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.PdfListActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".User.Test.Activity.HomeTestActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".User.Activity.MainActivity"
            android:exported="true">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".User.Activity.SignUpActivity" />
        <activity android:name=".User.Activity.TermsAndPoliciesActivity" />
        <activity
            android:name=".User.Activity.LoginActivity"
            android:exported="true">
        </activity>
        <activity android:name=".User.Activity.ForgotPassActivity" />
        <activity android:name=".User.Activity.HomeActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->


<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".User.Activity.BookshelfActivity" />
        <activity android:name=".User.Activity.LibraryActivity" />
        <activity android:name=".User.Activity.ProfileActivity" />
        <activity android:name=".User.Activity.SearchActivity" />
        <activity android:name=".User.Activity.Book_Detail_Activity" />
        <activity android:name=".User.Activity.Content_Story.activity_content_story" />
        <activity android:name=".User.Activity.Content_Story.activity_content_story2" />
        <activity android:name=".User.Activity.Content_Story.activity_content_story3" />
        <activity android:name=".User.Activity.AboutUsActivity" />
    </application>

</manifest>